@model ApplicationUser
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete User</h1>
<br />
<br />
<form asp-action="DeleteConfirmed" class="container">
            <div class="form-group">
                <label asp-for="Id" class="form-control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="form-control-label"></label>
                <input asp-for="UserName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="IsAgree" class="form-control-label"></label>
                <input type="checkbox" asp-for="IsAgree" class="form-control" readonly/>
                <span asp-validation-for="IsAgree" class="text-dager"></span>
            </div>

        <div>
            <input type="submit" class="btn btn-danger" value="Delete"/>
            <a class="btn btn-light" asp-action="Index" asp-controller="User">Back To List</a>
        </div>
</form>

