@model EmployeeViewModel
@inject IUnitOfWork unitofwork
@{
    ViewData["Title"] = "Create";
    var Departments = new SelectList(ViewBag.Departments,"Id","Name");
    //var Countries = ViewBag.Countries;
    var Countries = unitofwork.CountryRepository.GetAll().Result;


}

<h1>Create</h1>
<br />
<br />
<form asp-action="Create">
    <div class="form-group">
        <label class="col-form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" />
        <span asp-validation-for="Salary" class="text-danger"></span>
    </div>
     <div class="form-group">
        <label class="col-form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="col-form-label" asp-for="HireDate"></label>
        <input class="form-control" asp-for="HireDate" />
        <span asp-validation-for="HireDate" class="text-danger"></span>
    </div>
    <div class="demo-checkbox">
        <input asp-for="IsActive" type="checkbox" />
        <label asp-for="IsActive"></label>
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>
    <div class="form-group">
            <label class="col-form-label" asp-for="DepartmentId"></label>
            <select asp-for="DepartmentId" asp-items="Departments" class="form-control">
                <option>Choose a department...</option>
            </select>

            <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <br />
    <br />
     <br />
    <br />
     <div class="form-group">
            <label class="col-form-label" >Country</label>
            <select class="form-control" id="countryList">
                <option>Choose a country...</option>
                @foreach (var item in Countries)
               {
                   <option value="@item.Id">@item.Name</option>
                   
               }
            </select>
    </div>
     <br />
    <br />
     <br />
    <br />
         <div class="form-group">
            <label class="col-form-label" >City</label>
            <select class="form-control" id="cityList">
                <option>Choose a City...</option>
            </select>
    </div>
     <br />
    <br />
     <br />
    <br />
             <div class="form-group">
            <label asp-for="District" class="col-form-label" >District</label>
            <select asp-form="District" class="form-control" id="districtList">
                <option>Choose a District...</option>
            </select>
    </div>
     <br />
    <br />
     <br />
    <br />
    <input type="submit" class="btn btn-primary" value="Add" />
    <a asp-action="Index" class="btn btn-light">Return to Employees</a>
</form>

@section Scripts
{
    <partial name= "_ValidationScriptsPartial"/>

    <script>
        $(function()
        {
            $("#countryList").change(function()
            {
                 $("#cityList").empty();
                $("#cityList").append(`<option>Choose a City...</option>`);
                var countryId = $("#countryList option:selected").val();
                $.ajax(
                    {
                        type:"GET",
                        url:"/Employee/GetCitiesByCountryId",
                        data: {id: countryId},
                        success: function(res)
                        {
                            console.log(res);
                            $.each(res,function(i,e)
                            {
                                $("#cityList").append(`<option value="${e.Id}">${e.Name}</option>`)
                            })
                        }
                    })
            })
            $("#cityList").change(function()
            {
                $("#districtList").empty();
                $("#districtList").append(`<option>Choose a District...</option>`);

                var cityId = $("#cityList option:selected").val();
                $.ajax(
                    {
                        type:"GET",
                        url:"/Employee/GetDistrictsByCityId",
                        data: {id: cityId},
                        success: function(res)
                        {
                            console.log(res);
                            $.each(res,function(i,e)
                            {
                                $("#districtList").append(`<option value="${e.Id}">${e.Name}</option>`)
                            })
                        }
                    })
            })
        })
    </script>
}