
@{
    ViewData["Title"] = "CompleteForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Please Check Your Inbox</small>
        </div>
        <div class="card">
            <div class="body">
                    <div class="msg">
                        An Email with the reset instructions was sent to your inbox. please follow the link below to complete 
                        resetting your password.
                    </div>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank">Go To Inbox!</a>
                    </div>
            </div>
        </div>
    </div>

