@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>@ViewData["Title"]</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="forgot_password" asp-action="ForgotPassword" asp-controller="Account">
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email" required autofocus>
                        </div>
                    </div>
                    <input type="submit"  class="btn btn-block btn-lg bg-pink waves-effect" value="Reset My Password"/>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-action="Login" asp-controller="Account">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

