
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);">Admin<b>BSB</b></a>
            <small>Password was resetted</small>
        </div>
        <div class="card">
            <div class="body">
                    <div class="msg">
                        Your Password has been reseted successfully, please login :)
                    </div>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a asp-controller="Account" asp-action="Login">Login</a>
                    </div>
            </div>
        </div>
    </div>
